/* 
.acercaDe den yapmıycaz;Display'e flex özelliği vererek içinde li child'ları hizalamkla uğraşmıycaz ;gerek yok
Bunun yerine .acercaDe nini içinde ki .wrapper elementine gidip ayarlama yapıcam;
*/

.acercaDe .wrapper{
    width: 100%;
    max-width: 1366px;
    margin:50px auto ;
    padding: 10px;
    border: 1px solid rgba(1, 1, 1, 0.2);
    border-radius: 10px;
    display: flex;
}
.acercaDe .wrapper:nth-child(2n){
    flex-direction: row-reverse;
}
/* Elementin kendisine dış boşlık veremedik,fakat ebeveyn elementine iç boşluk verebiliriz; */
.acercaDe{
    padding: 0px 20px;
}
.acercaDe .wrapper .text{
    flex: 2;
    padding:5px;
}
.acercaDe .wrapper .text h1{
    font-family: 'Dancing Script', cursive;
}
.acercaDe .wrapper .text p{
    font-family: 'Josefin Sans', sans-serif;
    padding: 10px;
    font-size: 1.2rem;
    line-height: 25px;
}
.acercaDe .wrapper .text p::first-letter{
    margin-left: 20px;
}
.acercaDe .wrapper .photo{
    flex: 2;
    overflow: hidden;
    border-radius: 10px;
}
/* overflow:hiden =)yapınca elementin taşan kısmımları ekranda gösterilememiş oldu. */
.acercaDe .wrapper .photo img{
    border-radius: 10px;
    cursor: pointer;
    transition: all 0.5s;
}
.acercaDe .wrapper .photo img{
    border-radius: 10px;
    cursor: pointer;
    transition: all 0.5s;
}
.acercaDe .wrapper .photo img:hover{
   transform: scale(1.2);
}
/* Scale:Boyutlandırmak */

/* Scroll Animation */
/* *Animasyonumuzu yazabilmemiz için; 
acercaDe.html sayfası içerisinde ki herbir wrapper'a bizim target(hedef)değerini vermemiz gerek;Başarılı bir şekilde
Active değerini alabilsinler.Sonra bu kısma geri dön.Wrapper elementinin başlangıç durumunu alalım ve gerkli işlemleri yapalım;
*/

.acercaDe .wrapper{
    opacity: 0;
    transition: all 0.5s;
}
.acercaDe .wrapper.active{
    opacity: 1;
}
/* Text'lere de animasyon eklemek;Başlangıç durumun;*/
.acercaDe .wrapper .text{
    transform: translateX(-20px);
    transition: all 0.5s;
}

.acercaDe .wrapper:nth-child(2n) .text{
    transform: translateX(20px);
}
/* Wrapper elemnenti aktif olunca nereye gelsin?; */
.acercaDe .wrapper.active .text{
    transform: translateX(0px);
}

/* Aynı işlemi resim elementi için yapalım;tabi ters gelicek 2 katı meselesi unutma! */
.acercaDe .wrapper .photo{
    transform: translateX(20px);
    transition: all 0.5s;
}

.acercaDe .wrapper:nth-child(2n) .photo{
    transform: translateX(-20px);
}

.acercaDe .wrapper.active .photo{
    transform: translateX(0px);
}

