.add {
    width: 100%;
    height: calc(100vh - 50px);
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Calc kullanma sebebi ;scroll çubuğunun hareketini önlemek */

.add form {
    background-color: rgba(0, 0, 0, 0.1);
    display: flex;
    height: 400px;
    width: 90%;
    max-width: 800px;
    padding: 10px;
    border-radius: 10px;
    border: 1px solid rgba(0, 0, 0, 0.3);
}

.add form .text {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 90%;
}

.add form .text input,
.add form .text textarea {
    width: 90%;
    outline: none;
    border: none;
    border-radius: 10px;
}

.add form .text input {
    height: 40px;
    padding: 0px 0px 0px 10px;
    font-size: 1.1rem;

}
/* 1.1 rem: 1 remin yüzde 10 büyütülmüş hali */
.add form .text input:first-child {
    font-family: 'Pacifico', cursive;
}

.add form .text input:last-child {
    font-family: 'Dancing Script', cursive;
    font-size: 700;
}

.add form .text textarea {
    height: 180px;
    padding: 10px 0px 0px 10px;
    font-family: 'Arvo', serif;
}

.add form .button {
    display: flex;
    flex-direction: column;
    width: 10%;
}