.error {
    width: 100%;
    height: calc(100vh - 50px);
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

/* 100vh:görünen alanın tamamı fakat burada bizim topbar yapımız vardı onu çıkarmalıyız;calc işlemiyle. */
.error i {
    position: absolute;
    font-size: 20rem;
    z-index: 5;
    color: rgba(255, 87, 87, 0.3);
}

/* icon elementi pzisyonun absolute olsun demek için hizalama işini error elementine göre yapıcaz(body elementine göre değil)
.errro'da position relative(akraba)yaptık
*/

.error span {
    font-size: 5rem;
    z-index: 10;
    font-family: 'Josefin Sans', sans-serif;
    font-weight:700 ;
}

/* rem ölçü birim;dinamik değerdir(sayfa içinde bir kere tanımladıktan sonra öyle kalmaz;piksel gibi değil)
1 rem herzaman 16px değildir;değişkendir */
/* değişken olduğunun ispatı ;
default.css te proje sonun da px ile istenilen kısımları ayarlamak daha basit olur

1 rem :16 px
1.1 rem: 16px + ((16px *10) / 100) =17.6  ;yüzde 10 büyütmüş oluruz.
1.5rem: 16px + ((16px *50) / 100) =24px    ;yani yarısı 8 dir toplamda 24 px olmuş olur
*/
/* Tüm sayfalar tamamlandı :
add sayfası ile edit sayfası birebir aynı
web servis projesinde istenilen hale getirilebilir,
proje eksikği :responsive bir tasarımı yok ;
node js ver olacak..
web sitesini interneete paylaşmak;
ücretsiz hosting ve domain hizmeti için =render.com üzerinden proje yayımlanabilir:
1)ilk olarak proje github
2)render.com sayfasından github gir
*/