.logReg {
   position: relative;
}

.logReg img {
   width: 100%;
   height: calc(100vh - 50px);
}

/* cal ;görünen alanın tamamını doldur(mobil ekran içinde olabilir)50px'ını çıkar;yukarıda topbar var onu çıkar yoksa scroll ç
çubuğu oluşurdu.
 */
.logReg form {
   position: absolute;
   width: 350px;
   left: calc((100% - 350px) / 2);
   /* Sayfanın tamamından 400px alanı çıkart;2'ye böl.400px= logReg tamamı .Bu yokmuş gibi davran sonra 2ye böl;leften alan olu.oldu
 2'ye böldüğümüz içinde eşit boşluk vermiş olduk.   
    */
   top: 100px;
   background-color: rgba(0, 0, 0, 0.7);
   padding: 20px;
   border-radius: 00px;
   box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3), 0px 0px 10px rgba(0, 0, 0, 0.5),
      0px 0px 15px rgba(0, 0, 0, 0.5);
}

.logReg form .formGroup {
   margin-bottom: 30px;
   position: relative;
}

.logReg form .formGroup input {
   width: 100%;
   height: 40px;
   background: rgba(0, 0, 0, 0.3);
   border: none;
   outline: none;
   border-radius: 10px;
   color: white;
}

.logReg form .formGroup span {
   position: absolute;
   left: 10px;
   top: 10px;
   color: white;
   font-family: 'Josefin Sans', sans-serif;
   padding: 3px 5px;
   transition: all 0.3s;
}
/* ?tilda işareti ile (altgr + ü)span elementini seçmiş olmak için;
Kısaca Tilde;Biz registro.html  içinde input elementini span elementinin bir üstüne;bir altına koysaydım=
span elementini inputun üstüne alınca;Tilda Çalışmazdı inputtan sonra span gelmeli.Tildaya input elementi 
focus old. inputtan sonra gelen span elementini seç demiş olduk.
*/
.logReg form .formGroup input:focus ~ span{
   top: -10px;
   left: 20px;
   font-size: 0.9rem;
  /*  normalde 1 rem olarak gelir */
   background-color:rgba(0, 0, 0, 0.5) ;
}