.logReg{
    position: relative;
}
.logReg img{
    width: 100%;
    height: calc(100vh - 50px);
}
/* cal ;görünen alanın tamamını doldur(mobil ekran içinde olabilir)50px'ını çıkar;yukarıda topbar var onu çıkar yoksa scroll ç
çubuğu oluşurdu.
 */
 .logReg form{
    position: absolute;
    width:400px ;
    left: calc((100% - 400px) / 2);
    /* Sayfanın tamamından 400px alanı çıkart;2'ye böl.400px= logReg tamamı .Bu yokmuş gibi davran sonra 2ye böl;leften alan olu.oldu
 2'ye böldüğümüz içinde eşit boşluk vermiş olduk.   
    */
    top: 100px;
    background-color:rgba(0, 0, 0, 0.6) ;
    padding: 20px;
 }
 