.sidebar {
    flex: 3;
    padding: 0 20px;
}

.sidebar .area {
    padding: 10px;
    border: 1px solid rgba(0, 0, 0, 0.3);
    border-radius: 10px;
}


.sidebar h3 {
    width: 100%;
    margin-bottom: 10px;
    font-family: 'Pacifico', cursive;
    display: flex;
    justify-content: center;
    position: relative;
}
.sidebar h3::after{
    content: '';
    width: 50%;
    height: 2px;
    background-color: black;
    position: absolute;
    bottom: 0;
}
/* Content değeri boş vermen Zorunlu;Ekranda bu deper görünmez yoksa. */

.sidebar img{
    padding:5px;
    border-radius:15px;
}
.sidebar .categories{
    background-color: orange;
    width: 100%;
}