.topbar{
    width: 100%;
    height: 50px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    font-family: 'Josefin Sans', sans-serif;
    background-color: #fff;
}
.topbar .wrapper{
    width: 100%;
    max-width: 1366px;
    display: flex;
}
.topbar .left, .topbar .right{
    flex: 3;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.topbar .left i{
    font-size: 1.3rem;
}

.topbar .center{
    flex: 6;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.topbar .right span img{
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.topbar .right .searchEngine{
    width: 70%;
    height: 100%;
    display: flex;
    justify-content:space-between;
    align-items: center;
    position: relative;
}
.topbar .right .searchEngine i{
   position: absolute;
   right: 0px;
   background-color: orange;
   width: 30px;
   height: 30px;
   display: flex;
   justify-content: center;
   align-items: center;
   border-radius: 50%;
   cursor: pointer;
}

.topbar .right .searchEngine input{
    width: 100%;
    margin-right: 20px;
    height: 25px;
    border-radius:3px ;
    padding: 0px 0px 0px 10px;
    opacity: 0;
    transition: all 0.5s;
 }

 .topbar .right .searchEngine{
    width: 0px;
    transition: all 0.5s;

   }

 .topbar .right .searchEngine.active{
 width: 70%;
}

.topbar .right .searchEngine.active input{
    opacity: 1;
 }

/* Scroll animation */
.topbar .wrapper{
    opacity: 0;
    transition: all 0.5s;
    transform: translateY(-10px);
}

.topbar .wrapper.active{
    opacity: 1;
    transform: translateY(0px);

}

.topbar .left i{
    font-size: 1.3rem;
}






/* 
.topbar{
    width: 100%;
    height: 50px;
    display: flex;
}
 Hepsinin display block özellikleri kayboldu,sahip olundukları ebeveyn elementinin 
 displayi flex özelliği diğerleri ovverrigth etti(ezdi)ve hepsi artık aynısatır içerisinde
 sıralamış oldu
 Flex önemli bir özellik 12birim meselesi(1 row içinde 12 tane column)onun yerine width değeri
 ve flex-wrap;wrap özelliği de kullaılırdı ama daha hassa olur ve taşma ihtimalini arttırmış olurduk.

 justify-content: space-evenly;eşit aralıklı boşluklar bıraktırdı.

   */
   /* 
   position: relative;yapıp
   Ebeveyn elementim;
   .topbar .right .searchEngine{
    background-color: orange;
    height: 100%;
    display: flex;
    justify-content:space-between;
    align-items: center;
    position: relative;
}
    içerisinde ki child elementinin ise position değerini(i)absulute olarak ayarladım,daha sonra left değerini
20 ayarlarsam;elementin bulunduğu alana göre kendsini hizlamasını.Posotion relativ demezsek bulunduğu ebevyn ele-
mentine göre değil sayfanın body elementine göre hizalar.aslında left değil right değerin değiştiricem ve 0 olarak
en sol olmuş olucak yani.


 */